@{
    ViewData["Title"] = "Contact";
}
<div id="page-wrapper">
    <br />
    <h2>@ViewData["Title"]</h2>

    <address>
        <strong>Support:</strong> <a href="mailto:admin@vulnaware.co.uk">admin@vulnaware.co.uk</a><br />
    </address>
</div>
