@using Microsoft.AspNetCore.Identity;
@using Vulnaware.Models;
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Vulnerability Database">
    <meta name="author" content="Benjamin Eddy">
    <link rel="icon" type="image/png" href="~/images/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="~/images/favicon-16x16.png" sizes="16x16" />
    <title>Vulnaware</title>
    <!-- Bootstrap Core CSS -->
    <link href="~/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

    <!-- MetisMenu CSS -->
    <link href="~/vendor/metisMenu/metisMenu.min.css" rel="stylesheet" />

    <!-- DataTables CSS -->
    <link href="~/vendor/datatables-plugins/dataTables.bootstrap.css" rel="stylesheet">

    <!-- DataTables Responsive CSS -->
    <link href="~/vendor/datatables-responsive/dataTables.responsive.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="~/dist/css/sb-admin-2.css" rel="stylesheet" />

    <!-- Morris Charts CSS -->
    <link href="~/vendor/morrisjs/morris.css" rel="stylesheet" />

    <!-- Custom Fonts -->
    <link href="~/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <div class="wrapper container-fluid">
        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a a asp-controller="Home" asp-action="Index">
                    <img src="~/images/vulnaware-logo-v2.png" alt="Vulnaware Logo" height="35" style="margin-top:4%; margin-left:6%" />
                </a>
            </div>
            <!-- /.navbar-header -->
            <div class="nav navbar-top-links navbar-right">
                @if (SignInManager.IsSignedIn(User))
                {
                    <form asp-area="" as></form>
                }
            </div>
            @if (SignInManager.IsSignedIn(User))
            {
                <form asp-area="" asp-controller="Account" asp-action="Logout" method="post" id="logoutForm" class="nav navbar-top-links navbar-right">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a asp-area="" asp-controller="Manage" asp-action="Index" title="Manage">@UserManager.GetUserName(User)</a>
                        </li>
                        <li>
                            <button type="submit" class="btn btn-link navbar-btn navbar-link">Log out</button>
                        </li>
                    </ul>
                </form>
            }
            else
            {
                <ul class="nav navbar-nav navbar-right">
                    <li><a asp-area="" asp-controller="Account" asp-action="Register">Register</a></li>
                    <li><a asp-area="" asp-controller="Account" asp-action="Login">Log in</a></li>
                </ul>
            }

            <!-- /.navbar-top-links -->
            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li>
                            <a asp-controller="home" asp-action="index">
                                <i class="fa fa-home fa-fw"></i> Home
                            </a>
                        </li>
                        <li>
                            <a asp-controller="Vulnerability" asp-action="Index">
                                <i class="fa fa-search fa-fw"></i> Vulnerability Search
                            </a>
                        </li>
                        <li>
                            <a asp-controller="Product" asp-action="Index">
                                <i class="fa fa-search fa-fw"></i> Product Search
                            </a>
                        </li>
                        <li>
                            <a asp-controller="Statistics" asp-action="Index">
                                <i class="fa fa-bar-chart-o fa-fw"></i> Statistics
                            </a>
                        </li>
                        @if (SignInManager.IsSignedIn(User))
                        {
                            <li>
                                <a asp-controller="TrackedVulnerability" asp-action="Index">
                                    <i class="fa fa-edit fa-fw"></i> My Tracked Vulnerabilities
                                </a>
                            </li>
                            <li>
                                <a asp-controller="Configuration" asp-action="Index">
                                    <i class="fa fa-edit fa-fw"></i> My Configurations
                                </a>
                            </li>
                            <li>
                                <a asp-controller="ConfigurationReporting" asp-action="Index">
                                    <i class="fa fa-clipboard fa-fw"></i> Configuration Reporting
                                </a>
                            </li>
                        }
                        @if (User.IsInRole("SuperAdmin") || User.IsInRole("Admin"))
                        {
                            <li>
                                <a asp-controller="upload" asp-action="index"><i class="fa fa-upload fa-fw"></i> Upload CVE Data</a>
                            </li>
                            <li>
                                <a asp-controller="UserManagement" asp-action="Index"><i class="fa fa-users fa-fw"></i> User Management</a>
                            </li>
                        }
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>
        @RenderBody()
    </div>
    <!-- /#wrapper -->
    <!-- jQuery -->
    <script src="~/vendor/jquery/jquery.min.js"></script>
    <script src="~/lib/jquery.unobtrusive-ajax/src/jquery.unobtrusive-ajax.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="~/vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="~/vendor/metisMenu/metisMenu.min.js"></script>

    <!-- DataTables JavaScript -->
    <script src="~/vendor/datatables/js/jquery.dataTables.min.js"></script>
    <script src="~/vendor/datatables-plugins/dataTables.bootstrap.min.js"></script>
    <script src="~/vendor/datatables-responsive/dataTables.responsive.js"></script>

    <!-- Morris Charts JavaScript -->
    <script src="~/vendor/raphael/raphael.min.js"></script>
    <script src="~/vendor/morrisjs/morris.min.js"></script>
    <script src="~/data/morris-data.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="~/dist/js/sb-admin-2.js"></script>

    @RenderSection("scripts", required: false)
</body>
</html>
